
body {
	margin: 0;
	background: #333;
}

#title {
	position: absolute;
	width: 40%;
	height: 10%;
	top: 0;
	left: 30%;
	/* background: #666666; */
	color: white;
	font-size: 35px;

	display: flex;
	align-items: center;
	justify-content: center;
}

#tim {
	position: absolute;
	/* width: 30%; */
	height: 10%;
	right: 2%;
	top: 5%;
	color: #FFFFFF;
	font-size: 16px;
}

#c1 {
	position: absolute;
	width: 36%;
	height: 12%;
	top: 10%;
	left: 34%;
	color: white
		/* background: #777777; */
}
#c3 {
	position: absolute;
	width: 36%;
	height: 12%;
	top: 23%;
	left: 34%;
	color: white
		/* background: #777777; */
}

.num {
	width: 33%;
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
	color: gold;
	font-size: 11px;
	/*margin-top: 20px;*/
}

.txt {
	width:33%;
	float: left;
	display: flex;
	font-family: "幼圆";
	align-items: center;
	justify-content: center;
	font-size: 11px;
}

.txt h2 {
	margin: 0;
}


#c2 {
	position: absolute;
	width: 36%;
	height: 60%;
	top: 40%;
	left: 35%;
	background: #888888;
}

#l1 {
	position: absolute;
	width: 35%;
	height: 85%;
	top: 15%;
	left: 0%;
	background: #666666;
}


#r1 {
	position: absolute;
	width: 30%;
	height: 45%;
	top: 10%;
	right: 0%;
	background: #666666;
}

#r2 {
	position: absolute;
	width: 30%;
	height: 45%;
	top: 55%;
	right: 0%;
	background: #777;
}

/* 此处是设置自动匹配横屏，以适应手机显示 使用下面定义的id:gyroContain   */
@media screen and (orientation: portrait) {
    html{
        width : 100vmin;
        height : 100vmax;
    }
    body{
        width : 100vmin;
        height : 100vmax;
    }
    #gyroContain{
        width : 100vmax;
        height : 100vmin;
        transform-origin: top left;
        transform: rotate(90deg) translate(0,-100vmin);
    }
  }
@media screen and (orientation: landscape) {
    html{
        width : 100vmax;
        height : 100vmin;
    }
    body{
        width : 100vmax;
        height : 100vmin;
    }
    #gyroContain{
        width : 100vmax;
        height : 100vmin;
    }
}

